body {
  font-family: Arial, sans-serif;
 background-color: #08408518;
}


/*estilo del  boton de regreso*/

.back_button {

  background-color: #8A7F79;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 160px;
  height: 40px;
}

.back_button:hover {

  background-color: #798ad491;
}

h1 {
  text-align: center;
  color: #000000;
}

/*diseño del formulario*/
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #8f91ee34;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

label {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  margin-left: 13px;
  ;
}

input[type="text"],
input[type="password"] {
  width: 85%;
  padding: 10px;
  border: 1px solid #4d59ff;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 13px;
  

}

select {
  width: 90%;
  padding: 10px;
  border: 1px solid #4d59ff;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 13px;
  font-size: larger

}

button {
  width: 90%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 13px;
  font-size: larger

}

button:hover {
  background-color: #0230ffb7;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  font-size: larger
}

a:hover {
  color: #4d59ff;
}